[submodule "Submodules/RNCryptor"]
	path = Submodules/RNCryptor
url=https://github.com/ohsu-molemapper/RNCryptor.git
[submodule "Submodules/CMSSupport"]
	path = Submodules/CMSSupport
url=https://github.com/ohsu-molemapper/CMSSupport.git
[submodule "Submodules/ZipZap"]
	path = Submodules/ZipZap
url=https://github.com/ohsu-molemapper/ZipZap.git
